*{
    margin:0;
    padding: 0;
    text-align: center;
}

h1{
    background-color:  #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
}


.choice{
    height: 165px;
    width: 165px;
}

img{
    height: 150px;
    width: 150px;
    object-fit: contain;

}

.choice:hover{
    opacity: 0.5;
    cursor: pointer;
}

.choices{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.score-board{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 5rem;
    font-size: 2rem;
    margin-top: 2rem;
}

.msg-container{
    font-size: 2rem;
    margin-top:3rem;
    font-style: italic;
}

#msg{
    background-color: #081b31;
    display: inline;
    color: aliceblue;
    padding:1rem;
    border-radius: 1rem;
    
}

